<body>
    <main>
        <h1>Alta de cadete</h1>
        <p>Cadete cargado exitosamente</p>
        <p>
            <a href="cargarCadete">Cargar nuevo cadete</a>
            <a href="listarCadetes">Listar cadetes</a>
        </p>
    </main>
</body>
