<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tomás Consoli">
    <title>cargar Cadete</title>
</head>
<body>
    <header>
        <h1>Carga de Cadetes</h1>
    </header>
    <main>
        <form asp-controller="Cadeteria" asp-action="AltaCadete" method="POST">
            <label for="nombCadete">Nombre: </label>
            <input type="text" id="nombCadete" name="nombCadete" placeholder="Nombre">
            <label for="apeCadete">Apellido: </label>
            <input type="text" id="apeCadete" name="apeCadete" placeholder="Apellido">
            <label for="telCadete">Telefono: </label>
            <input type="tel" id="telCadete" name="telCadete" placeholder="3811111111">
            <input type="submit" value="Cargar Cadete">
        </form>
    </main>
</body>
</html>
