<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tomás Consoli">
    <title>Alta Cadete</title>
</head>
<body>
    <main>
        <h1>Alta de pedido</h1>
        <p>Pedido cargado exitosamente</p>
        <p>
            <a asp-action="Create">Cargar nuevo pedido</a>
            <a asp-action="Index">Listar pedidos</a>
        </p>
    </main>
</body>
</html>